

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #54548B;
  color: white;
  padding: 32px 16px;
  flex-wrap: wrap;
  border-top: 2px solid white;
  height: 260px;
  width: 100%;
}

.footerfirst img {
  height: 250px;
  width: 250px;
}

.footerthird img {
  height: 40px;
  width: 40px;
}
